html,
body {
  padding: 0;
  margin: 0;
}

body {
  /* color: rgb(230, 241, 252); */
  font-family: 'Fira Mono', sans-serif;
  font-weight: 300;
  background: black;
  color: white;
}

#tsparticles {
  opacity: 0.3;
}